
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

/* Animation Kayframes */
@keyframes fadIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes zoomInOut{
    0%,100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
}

@keyframes bounceTop{
    0%,100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateX(0px);
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

:root{
    --main-color:#4da3ff;
    --blue:#0000ff;
    --blue-dark:#18293c;
    --orange:#ffa500;
    --green-yellow:#cddc39;
    --pink-light:#063062;
    --cyan-light:#1a0f41;
    --white:#ffffff;
    --white-alpha-40:rgba(255, 255, 255, 0.40);
    --white-alpha-25:rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur:blur(5px);
}